<!-- <h4 style="font-size: 25px">OTP</h4>

<p>Hi, {{fullname}}, </p>

<p style="text-align: justify"> Your xwapit <span style="color:#530445">{{otp}}</span> to complete your Sign Up. OTP is valid for 10 minutes</p> -->

<div
  style="
    font-family: Helvetica, Arial, sans-serif;
    min-width: 1000px;
    overflow: auto;
    line-height: 2;
  "
>
  <div style="margin: 50px auto; width: 70%; padding: 20px 0">
    <div style="border-bottom: 1px solid #eee">
      <a
        href=""
        style="
          font-size: 14px;
          color: #65aacd;
          text-decoration: none;
          font-weight: 800;
        "
        >NOOR</a
      >
    </div>
    <p style="font-size: 1.5em">Salam , {{fullname}}</p>
    <p>
      <!-- Thank you for choosing Xwapit. Use the following OTP to complete your Sign
      Up procedures. OTP is valid for 5 minutes -->
      We're delighted to welcome you to the Noor app, where you'll explore and
      learn Arabic words in an engaging and exciting way! To complete your
      account registration, please use the following verification code <br />
      If you didn't request this code, please ignore this message. Thank you for
      joining us, and we wish you a wonderful learning journey with Noor!
    </p>
    <h2
      style="
        background: #65aacd;
        margin: 0 auto;
        width: max-content;
        padding: 0 10px;
        color: #fff;
        border-radius: 4px;
      "
    >
      {{otp}}
    </h2>
    <p style="font-size: 0.9em">Regards,<br />NOOR</p>
    <hr style="border: none; border-top: 1px solid #eee" />
  </div>
</div>
